/*
Tanish Shah
CSS For my website
*/
.title
{
  color: #888089;
  font-size: 80px;
  text-decoration: none;
  text-align: center;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
}
html{
  height: 100%;
}

body{
  color: whitesmoke;
  height: 100%;
}

.container{
  min-height: 100%;
}

.main{
  overflow: auto;
}

.text{
  text-align: center;
  color: #b5b6b5;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}


.pic:hover{
  transition: transform .2s;
  transform: scale(1.2);
}
/* this is for the nav bar */
#nav {
  list-style-type: none; /* no style on the list so that it wouldn't look wierd as a nav bar*/
  margin: 0;/*this changes how far it is from the top of the website*/
  padding: 0;/* This changes how far it is from the sides so it can look more like a title I would recomend keeping it at 0*/
  overflow: hidden; /* this can add some scroll things or get rid of the nav bar so I reccomend keeping it at hidden*/
  background-color: #000000;/* This is used to make the colour of the nav bar*/
  position: fixed;
  width: 100%;
  top: 0;
}

#navi {
  float: right; /* float the things on the nav bar to the right*/
  display: block; /* Used for making the bar more thick ex. more blocky*/
  color:#fdfeff;
  text-align: center; /* this aligns the text to the center*/
  padding: 20px 20px;/* this is the spacing of each element on the nav bar*/
  text-decoration: none;/*this gets rid of the underline on a link*/
  font-size: 20px;/*sets the size of the text*/
  font-weight: bold;/*sets the weight of the text*/
  font-family: 'Roboto', sans-serif;
}
#navi:hover{
  transition: transform .2s;
  transform: scale(1.2);
}
.links{
  padding-top: 50px;
  list-style:none;
  text-align:center;
}
.links li{
  display:inline;
}
.links a{
  display:inline-block;
  padding:10px;
}
/* this is a reset style so basically it makes it look the same on all browsers I think */
*{
  margin: 0;
  padding: 0;
  border: 0;
}
/* reset is over*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:white;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.gtext{
  font-family: 'Open Sans', sans-serif;
  color: #888089;;
  font-size: 15px;
}

.ghead{
  font-family: 'Roboto', sans-serif;
  color:black;
  font-size: 25px;
}

.gImgs{
  padding-top: 20px;
}